@model IEnumerable<RoleViewModel>
<table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(X => X.Id)</th>
                <th>@Html.DisplayNameFor(X => X.RoleName)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var role in Model)
        {
                    <tr>
                        <td>@Html.DisplayFor(X => role.Id)</td>
                        <td>@Html.DisplayFor(X => role.RoleName)</td>
                        <partial name="_IndexPartialView" model="@role.Id" />
                    </tr>
        }
        </tbody>
    </table>